@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
  font-size: 67.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100dvw;
  min-height: 100dvh;
}

body {
  display: grid;
  place-items: center;
  gap: 4em;
  padding: 4em 2.5em;
  background: #f1f1f1;
  font-family: "Poppins", sans-serif;
}

header, main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  gap: 1em;
}
header p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.8rem;
  width: -moz-max-content;
  width: max-content;
  font-weight: 400;
  color: hsl(212, 6%, 44%);
}
header p em {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}
header small {
  font-size: 1rem;
  text-align: center;
  color: hsl(212, 6%, 44%);
  font-weight: 600;
}

main {
  gap: 2.5em;
}
main div {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1.5em;
  background: hsl(0, 0%, 100%);
  height: 18em;
  width: 22em;
  border-top: 4px solid green;
  border-radius: 0.5em;
  box-shadow: 0 1em 1em 0 rgba(35, 16, 108, 0.1568627451);
}
main div h3 {
  color: hsl(234, 12%, 34%);
  font-size: 1.68rem;
}
main div p {
  font-size: 1rem;
  color: hsl(212, 6%, 44%);
  font-weight: 400;
}
main div img {
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-150%, -130%);
  scale: 0.9;
}
main .Supervisor {
  border-color: hsl(180, 62%, 55%);
}
main .TeamBuilder {
  border-color: hsl(0, 78%, 62%);
}
main .Karma {
  border-color: hsl(34, 97%, 64%);
}
main .Calculator {
  border-color: hsl(212, 86%, 64%);
}

footer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  padding: 0 2em;
}
footer section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
footer section p {
  font-size: 1.4rem;
  color: hsl(234, 12%, 34%);
  line-height: 1.7;
  text-align: center;
}
footer section span {
  position: absolute;
  left: 100%;
  top: 100%;
  font-size: 2rem;
  color: #f44d4d;
  transform: translate(-200%, -200%);
}
footer .shadow {
  display: none;
}

@media screen and (min-width: 72em) {
  body {
    padding: 0;
    gap: 0;
  }
  header {
    max-width: 42em;
  }
  header p {
    font-size: 3rem;
  }
  header small {
    font-size: 1.2rem;
  }
  main {
    display: grid;
    grid-template-areas: ". teamBuilder ." "supervisor . calculator" ". karma .";
    grid-template-rows: repeat(2, 1fr 0);
    -moz-column-gap: 2.5em;
         column-gap: 2.5em;
    row-gap: 1.2em;
  }
  main div {
    transition: transform 200ms, box-shadow 200ms ease-in-out;
    height: 19em;
    width: 29em;
  }
  main div p {
    font-size: 1.1rem;
  }
  main div img {
    scale: 1;
    transform: translate(-150%, -140%);
  }
  main .Supervisor {
    grid-area: supervisor;
  }
  main .TeamBuilder {
    grid-area: teamBuilder;
  }
  main .Karma {
    grid-area: karma;
  }
  main .Calculator {
    grid-area: calculator;
  }
  footer {
    display: none;
    background: transparent;
  }
  footer section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 36em;
    height: 28em;
    background: #fff;
    justify-content: center;
    padding: 0 2em;
    border-radius: 0.5em;
  }
  footer section span {
    top: 0;
    left: 100%;
    transform: translate(-200%, 50%);
    transition: transform 400ms ease-in;
  }
  footer .shadow {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3803921569);
    width: 100dvw;
    height: 100dvh;
  }
}
@media screen and (hover: hover) and (pointer: fine) {
  main div:hover {
    transform: translateY(-5px);
  }
  .Supervisor:hover {
    box-shadow: 0 1em 1em 0 rgba(81, 211, 237, 0.3058823529);
  }
  .TeamBuilder:hover {
    box-shadow: 0 1em 1em 0 rgba(237, 81, 81, 0.3058823529);
  }
  .Karma:hover {
    box-shadow: 0 1em 1em 0 rgba(211, 237, 81, 0.3058823529);
  }
  .Calculator:hover {
    box-shadow: 0 1em 1em 0 rgba(81, 102, 237, 0.3058823529);
  }
  footer span:hover {
    cursor: pointer;
    transform: translate(-200%, 50%) rotate(180deg);
  }
  footer .shadow {
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */